body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    #header {
        padding: 15px;
        font-size: 30px;
        margin-bottom: 50px;
        background: linear-gradient(to right bottom, red, black 50%);
        color: white;
        text-align: center;
        h1 {
            font-weight: bolder;
        }
        * {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    .container {
        max-width: 800px;
        background: #ffffff;
        margin: 40px auto;
        border-radius: 8px;
        padding: 32px;
        .markdown {
            line-height: 1.75;
            font-size: large;
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                border-bottom: 1px solid lightgray;
                margin-top: 0;
                margin-bottom: 0.5em;
            }
            p {
                margin: 1em 0;
            }
            pre,
            code {
                background: #eee;
                border-radius: 4px;
            }
            pre {
                padding: 1em;
                overflow-x: auto;
            }
            code {
                padding: 2px 4px;
            }
            blockquote {
                margin: 1em 0;
                padding-left: 1em;
                border-left: 4px solid #ccc;
                color: #666;
                background: #fafafa;
            }
            ul,
            ol {
                margin-left: 2em;
            }
            a {
                color: #0a7;
                text-decoration: underline;
            }
            img {
                max-width: 100%;
            }
        }
    }
}
